<div class="nav">
  <mat-form-field>
    <mat-label>Formularios</mat-label>
    <mat-select [(ngModel)]="selectedForm" (selectionChange)="loadJsonData(selectedForm)">
      @for (single of formularios; track single) {
        <mat-option [value]="single.id">{{single.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="openDialog()">Ver json</button>
  
</div>
<div class="container">
  <div class="left-side">
    <h3>Formulario</h3>
    <mat-card appearance="outlined" class="mb-4">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button type="submit">Guardar</button>
          @if(envioId){
            <button mat-stroked-button class="ml-4">Cancel</button>
          }
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
  <div class="right-side">
    <h3>Tareas</h3>
    @for (single of envios; track single.id) {
      <mat-card appearance="outlined" class="mb-4">
        <mat-card-actions>
            <button mat-button (click)="editForm(single)">
              <mat-icon>edit</mat-icon> #{{single.id}} {{single.tarea.name}}
            </button>
        </mat-card-actions>
        <mat-card-content>
          <formly-form [form]="single.form" [fields]="single.fields" [model]="single.model"></formly-form>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
