
.cdk-overlay-pane {
    background-color: white;
    background: white;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 0px;
    background-color: #fff;
    border-bottom: solid 1px #9e9a9a;
    color: white;
    margin-bottom: 40px;
}

.mb-4{
    margin-bottom: 20px;
}

.ml-4{
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;

    .left-side {
        width: 50%;
        padding: 20px;
        border-right: 1px solid #ccc;
        max-width: 600px;
    }

    .right-side {
        width: 50%;
        padding: 20px;
    }

}

.mat-mdc-card-content {
    width: 100%;
}