/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


form {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    padding: 0 10px;
    display: inline-block;
    width: calc(50% - 20px);
    }
    
    .col-12 {
    padding: 0 10px;
    display: inline-block;
    width: calc(100% - 20px);
    }
